body {
  background-color: white;
}
.nav-link {
  font-size: 32px;
  color: #fc990d;
}
#case {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  font-size: 30px;
}
.disabled {
  color: #fc990d;
}
